:root{
    --message: rgba(0,0,0,0.6);
    --border_color: rgba(0,0,0,.15);
    --para_color:rgba(0,0,0,.6)
}
.mainbody{
    margin:25px 140px;
    display: grid;
    grid-template-columns: 20% 50% 25%;
    grid-gap:16px;
 
}

.sidebar, .posts, .activity{
    background-color:white;
    padding:10px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border:2px solid var(--border_color);
  

}

/* .sidebar{
    border:none;
    background-color: #e9e5df;
}
.activity{
    padding:0px;
    border:none;
} */

.sidebar{
    display:grid;
    grid-template-rows: 1fr;
    grid-row-gap: 5px ;

}

.sidebar, .activity{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  
}

.posts{
    background: transparent;
    padding:0px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.post_item{
    background-color:white;

    border:2px solid var(--border_color);

    height:fit-content;
} 
.post_item_header{
    padding:10px;
}
.box1, .act{
    height:300px;
}

.profile{
    height:50px;
    border-radius: 50%;
}


.post_input{
    width:90%;
    padding:15px;
    border: 1px solid #6e6558;
    border-radius:500px;
    outline:none;
    color:black;

}

.post_input:hover{
    background: transparent;
}

.input_blocks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;

}

.input_option{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.post_box{
    padding:15px;
    background-color: white;
    margin-bottom:20px;
    border-radius: 10px;
    color: var(--para_color);
    font-weight: 400;
}
.input_text{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.option{
    margin-right:10px;
}

.post_item{
    margin-bottom: 10px;
}
.input_option{
    padding:10px;
    margin-top:5px;
    border-radius:5px;
}
.input_option:hover{
    
    background:rgba(0,0,0,.15);
    cursor:pointer;
}

.post_item_owner > a{
    text-decoration:none;
    color:black;
    font-size: 1.4 rem;
    font-weight:600;
}
.post_item_owner > a:hover{
    color:blue;
}


.post_item_header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.post_item_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post_item_body_info{
    padding-left:10px;
    padding-right:10px;
   
}

.post_item_body_info > p{
    font-size: 0.8rem;
}
.post_item_header > i:hover{
    cursor:pointer;
    background-color:lightgray;
    border-radius: 500px;
    
}


.post_item_body_info >p {
    padding:10px 0px;
    font-size: 1.05rem;
    color:black;
}

.post_item_body_video > video{
   object-fit: contain;
   width: 400px;
}

.post_item_footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top:1px solid lightgray;
    flex-wrap: wrap;

}

.post_item_footer > .footer_item{
    margin-right:10px;
    color:black;
    font-size: 0.8 rem !important;
}

.footer_item{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
}

.footer_item:hover{
    background-color:lightgrey;
    padding:10px;
    cursor:pointer;
}

.footer_item > i{ 
    font-weight: 600;
    color:var(--message);
    font-size:1.2rem;
    margin-right:5px;
}


.post_item_comment_info{
    margin:4px 0px;
    padding-left:10px;
    padding-right: 10px;
}

.post_item_comment_info > span{
    line-height: 2;
    margin-left:10px;
    font-size: 15px;
}

