*{
    box-sizing: border-box;
    margin:0px;
}
:root{
    --search :#dce6f1;
    --header_text: rgba(0,0,0,.9);
    --font_header_icon_size: 1.6rem;   
    --para_font_size: 0.8rem;
    --para_color:rgba(0,0,0,.6);
    --para_font_weight: 400;
    --header_font_weight: 600;
    --body_background: #e9e5df;
    
} 

body{
    background-color: var(--body_background);
}

.header{
    padding:5px 150px;
    position:sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index:1;
}


.header_left{
    display: flex;
    flex-direction: row;
    height: fit-content;
}
.header_left > img{
    object-fit: contain;
    height: 40px;
}

.header_left > .search_box{
    background-color: var(--search);
 
    display: flex;
    
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
 
    margin-left:10px;

 
}



.header_right_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search_box > input[type=text]{
    border: none;
    outline: none;
    background: transparent;
    height:40px;
    margin-left:10px;
    width:300px;
}

.header_right{
    display:flex;
    flex-direction: row;
  
}

.nav_link{
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#6e6558;
    padding:0px 18px;
}

.nav_link:hover{

    color:rgba(0,0,0) ;
    cursor:pointer;
}
.bi{
    font-size: var(--font_header_icon_size);

}

.nav_text{
    font-size: var(--para_font_size);
    padding: 2px 0px;
}


.nav_icon{
    position:relative;
    font-size: var(--para_font_size);

}

.info{
    position:absolute;
    top:-6;
    right:-5;
    background-color:brown;
    color:white;
    padding:1px 3px;
    font-weight: 600;
    border-radius: 6px;
}

.bi-search{
    font-size: 15px !important;
    font-weight: 600 !important;
    margin-left: 20px;

}

.right_nav_text{
    width:130px;
    text-align: center;
    font-size: 0.8rem;
}


